extends /layouts/main_layout
block vars
	- var title = "Проекты";
	- var headerBg = "bg_header_project_page.jpg";
block content
	.Breadcrumbs.hidden-xs
		.Container
			ul.Breadcrumbs_list
				li.Breadcrumbs_item
					a(href="/").Breadcrumbs_link Главная
				li.Breadcrumbs_item
					a(href="/projects.html").Breadcrumbs_link #{title}
				li.Breadcrumbs_item
					span.Breadcrumbs_itemText Земельные участки г. Москва, Новомосковский АО, Рязановское поселение
	.Project
		.Container.Project_container
			h2.Project_title Земельные участки г. Москва, Новомосковский АО, Рязановское поселение
			.Project_description Земельные участки г. Москва, Новомосковский АО, Рязановское поселение представляет собой подготовленную для строительства промышленную территорию площадью 81 Га. Территория Парка включает в себя общие объекты инфраструктуры, такие как дороги, стоянки для большегрузных автомобилей, объекты электро и газоснабжения, водозаборный узел, а также очистные сооружения.
			.Tabs.Tabs-project.Project_tabs
				.Tabs_listWrapper
					ul.Tabs_list
						li.Tabs_item.Tabs_item-active
							a(href="#").Tabs_link Цель проекта
						li.Tabs_item
							a(href="#").Tabs_link Расположение
						li.Tabs_item
							a(href="#").Tabs_link Правовая информация
						li.Tabs_item
							a(href="#").Tabs_link Генеральный план
					span.Tabs_underline
				.Tabs_container
					.Tabs_content
						p Целью создания Индустриального Парка является обеспечение организаций малого и среднего бизнеса качественными производственно-складскими площадями, возможностями для эффективного развития собственного бизнеса. Площадь земельных участков в Индустриальном парке составляет от 0,5 до 20 Га. Концепция Индустриального Парка предусматривает зонирование территории таким образом, чтобы на ней могли одновременно разместиться пищевые производства и предприятия других отраслей промышленности.
						img(src="img/project.jpg", alt="Цель проекта")
					.Tabs_content
						p Земельные участки г. Москва, Новомосковский АО, Рязановское поселение удобно расположен недалеко от Москвы, вблизи Каширского шоссе, всего в 9 км от МКАД. Отличительной особенностью Индустриального Парка является превосходная транспортная доступность. В Земельные участки г. Москва, Новомосковский АО, Рязановское поселение можно проехать по Старому Каширскому шоссе, по автодороге «Дон», а также по трассе в аэропорт Домодедово.
						img(src="img/project_map.png", alt="Расположение")
					.Tabs_content
						ul
							li - вид права – собственность;
							li - категория земель – земли промышленности;
							li - вид разрешенного использования – для размещения многофункционального административно-торгового производственно-складского комплекса.
					.Tabs_content
						img(src="img/project_map.png", alt="Расположение")
			.PresentationBlock.Project_presentationBlock
				a(href="#").BtnDefault.BtnDefault-download.PresentationBlock_downloadBtn Скачать презентацию
					include includes/svg/SvgIco/download
				form(action="#").SendPresentation.PresentationBlock_form
					h2.SendPresentation_title Отправить перезентацию на почту
					.SendPresentation_item
						input(type="email", name="email", placeholder="Электронная почта").FormText.SendPresentation_input
						button(type="submit").SendPresentation_btn
							include includes/svg/SvgIco/arrow_left
					.SendPresentation_note Отправляя форму, вы подтверждаете своё #[a(href="#").SendPresentation_link согласие на обработку персональных данных]
			.Project_links
				a(href="#").Link.Project_link Предыдущий проект
				a(href="#").Link.Project_link Следующий проект
block page_bottom
	script(src="/js/project.js")