font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-BoldItalic', bold)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Semibold', 600)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans')
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Italic', normal, italic)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-ExtraboldItalic', 800, italic)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-SemiboldItalic', 600, italic)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSansLight-Italic', 300, italic)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Bold', bold)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Light', 300)
font-face('Open Sans', '../fonts/OpenSans/subset-OpenSans-Extrabold', 800)