// START: layout vars
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$mdMinus = '(max-width: 1279px)'
$md = '(min-width: 1024px) and (max-width: 1279px)'
$mdPlus = '(min-width: 1024px)'
$lgPlus = '(min-width: 1280px)'
$xl = '(min-width: 1920px)'

$smBoxWidth = 1044px
$mdBoxWidth = 1236px

$xsHeaderHeight = 48px
$smHeaderHeight = 98px
$mdHeaderHeight = 98px

$xsFooterHeight = 70px
$smFooterHeight = 66px
$mdFooterHeight = 100px
// END: layout vars

// START: color vars
$blue = #30a6df
$darkBlue = #2a91c3
$white = #fff
$dark = #363738
$dark2 = #36393b
$grey = #8e9095
$green = #01b55b
$lightgrey = #f0f2f6
$red = #e41d03
// END: color vars

// START: font vars
$fontFamily = 'Open Sans'
// END: font vars