.Accordion
	padding-top 21px
	padding-bottom 22px
	border-bottom 1px solid #c3c5c9
	
	&_header
		display flex
		justify-content space-between
		align-items flex-start
	
	&_title
		margin-right 50px
		font-size 18px
		line-height 2.11
	
	&_arrowCircle
		flex-shrink 0
	
	&_body
		display none
		padding 22px 50px 17px 34px