.AccordionSection
	padding-top 61px
	background $white
	
	&_title
		margin-bottom 50px
		font-weight 600
		font-size 30px
		line-height 0.87
		text-align center
	
	&_item		
		&:first-child
			border-top 1px solid #c3c5c9