.ActivitiesSection
	padding-top 31px
	padding-bottom 25px
	
	@media $smPlus
		padding-top 40px
		padding-bottom 23px
	
	@media $mdPlus
		padding-top 51px
		padding-bottom 45px
	
	&_title
		margin-bottom 29px
		font-weight 600
		font-size 20px
		line-height 1.5
		text-align center
		
		@media $smPlus
			margin-bottom 42px
			font-size 26px
			line-height 1.46
		
		@media $mdPlus
			margin-bottom 54px
			font-size 30px
			line-height 1.27
			text-align left