.BtnWhite
	display inline-block
	padding 14px 23px 16px
	border 2px solid $white
	border-radius 2px
	outline none
	font-weight 600
	font-size 16px
	text-align center
	color $white
	@extend .transition
	
	&:hover
		background $white
		color $blue
	
	&-siteInfo
		width 280px