.Contacts
	padding-top 31px
	padding-bottom 19px
	
	@media $smPlus
		padding-top 41px
		padding-bottom 39px
	
	@media $mdPlus
		padding-top 63px
		padding-bottom 28px
	
	&_locationAndPhone
		margin-bottom 30px
		
		@media $smPlus
			margin-bottom 50px
		
		@media $mdPlus
			margin-bottom 62px
		
		&, p
			font-weight 600
			font-size 20px
			line-height 1.5
		
		p:not(:last-child)
			margin-bottom 30px
			
			@media $smPlus
				margin-bottom 10px
			
			@media $mdPlus
				margin-bottom 24px