.DropDown
	width 285px
	padding 19px 20px 24px 33px
	border-radius 2px
	box-shadow 10px 10px 40px 0 rgba(48, 56, 92, 0.1)
	background $white
	
	&_link
		display block
		padding 10px 0 11px
		color $dark
		@extend .transition
		
		&-color
			color $grey