.FancyboxSlide		
	// @media (max-height: 576px)
		// padding 6px 0 0
	
	&-html
		padding-right 0
		padding-left 0
			
		.FancyboxButton
			// top -48px
			// right 8px
			top 0
			right 0
			width 40px
			height 40px
			padding 11px
			opacity 1
			color $dark
			
			// @media $smPlus
			// 	right -12px
			
			// @media $mdPlus
			// 	top -11px
			// 	right -49px