.FilterBlock
	width 400px
	max-width 100%
	padding 20px 15px 55px
	background $white
	
	@media $smPlus
		width 748px
		padding 29px 30px 55px
		border-radius 2px
	
	@media $lgPlus
		width 400px
		padding 31px 18px 55px 18px
	
	&_searchForm
		margin-bottom 21px
		
		@media $lgPlus
			margin-right 3px