.FormTextarea
	width 100%
	height 98px
	padding 10px 15px
	border 1px solid #cdcfd3
	outline none
	border-radius 2px
	resize none
	
	&.error
		border-color #E41D03
	
	&.valid
		border-color $green
	
	@media $smPlus
		height 218px
	
	&-attachFile
		padding-bottom 47px