.InfoBlock
	width 230px
	text-align center
	color $white
	
	&_img
		margin-bottom 28px
		
		& > img
			border-radius 50%
	
	&_title
		font-weight 600
		font-size 16px
		line-height 1.375
	
	&-advantage
		@media $smPlus
			width 190px