.InfoBlocksSection
	padding-top 41px
	padding-bottom 20px
	background $blue
	
	@media $smPlus
		padding-bottom 30px
	
	@media $mdPlus
		padding-top 50px
		padding-bottom 61px
	
	&_container
		@media $smPlus
			padding-right 28px
			padding-left 28px
	
	&_title
		margin-bottom 59px
		font-size 20px
		line-height 1.4
		text-align center
		color $white
		
		@media $smPlus
			margin-bottom 59px
			font-size 30px
			line-height 1.5
		
		@media $lgPlus
			font-size 40px
			line-height 1.13
	
	&-advantages
		padding-bottom 30px
		background $green
		
		.InfoBlocksSection_title
			margin-bottom 39px
			font-weight 600
			line-height normal
			
			@media $smPlus
				margin-bottom 49px
				line-height 1.5
			
			@media $mdPlus
				margin-bottom 51px
		
		@media $smPlus
			padding-top 44px
			padding-bottom 42px
		
		@media $mdPlus
			padding-bottom 61px