.KeyBenefits
	padding-top 21px
	padding-bottom 38px
	background $blue
	color $white
	text-align center
	
	@media $smPlus
		padding-top 30px
		padding-bottom 32px
	
	@media $mdPlus
		padding-top 38px
		padding-bottom 53px
	
	&_title
		margin-bottom 25px
		font-size 20px
		line-height 1.9
		
		@media $smPlus
			margin-bottom 54px
			font-size 26px
			line-height 1.46
		
		@media $mdPlus
			margin-bottom 49px
			font-size 30px
			line-height 1.27
	
	&_item
		font-size 26px
		line-height 1.308
		
		@media $smPlus
			font-size 40px
			line-height 0.95