.MainMenu
	&_item
		margin-bottom 13px
		
		&:last-child
			margin-bottom 0
	
	&_link, &_subMenuLink
		color #c4c4c4
		@extend .transition
		
		&:hover
			color $white
		
	&_link
		font-weight 600
		font-size 16px
		line-height 1.69
	
	&_subMenu
		margin-top 8px
	
	&_subMenuItem
		margin-bottom 8px
		
		&:last-child
			margin-bottom 0
	
	&_subMenuLink
		font-size 14px
		line-height 1.93
	
	&-header
		.MainMenu_menu
			display flex
		
		.MainMenu_item
			position relative
			margin-bottom 0
			
			@media $mdPlus		
				&:hover
					.MainMenu_dropDown
						opacity 1
						visibility visible
						transform translate(0, -1px)
						pointer-events auto
		
		.MainMenu_link
			display block
			padding 12px 21px 12px 22px
			font-weight 600
			font-size 16px
			line-height 1.69
			color $white
			
			@media $lgPlus
				padding-right 19px
				padding-left 20px
		
		.MainMenu_dropDown
			position absolute
			top 100%
			left 12px
			opacity 0
			visibility hidden
			transform translate(0, -20px)
			@extend .transition
			pointer-events none
			
			&:before
				content ""
				position absolute
				top -3px
				left 34px
				width 8px
				height 8px
				background $white
				transform rotate(-45deg)
	
	&-footer
		.MainMenu_menu
			display flex
			justify-content space-between
		
		.MainMenu_item
			margin-bottom 0
			margin-right 56px
			
			&:last-child
				margin-right 0
		
		.MainMenu_link
			text-transform uppercase