.MobileNavigation
	position fixed
	z-index 1000
	top 0
	left 0
	width 100%
	height 100%
	background $dark2
	overflow auto
	
	&_inner
		display flex
		flex-direction column
		height 100%
	
	&_top
		display flex
		justify-content space-between
		align-items center
		flex-shrink 0
		padding-top 18px
		
		@media $sm
			padding-top 25px
	
	&_topRight
		display flex
		align-items center
		padding-top 1px
		
		@media $sm
			padding-right 2px
	
	&_phone
		margin-top 1px
		margin-right 26px
		
		@media $sm
			margin-right 27px
	
	&_close
		width 18px
		color $white
	
	&_middle
		display flex
		flex-direction column
		justify-content center
		flex 1 0 auto
		padding-top 43px
		padding-bottom 24px
		text-align center
		
		@media $sm
			padding-top 25px
			padding-bottom 17px
	
	&_mainMenu
		margin-bottom 31px
	
	&_phoneNumber
		font-size 16px
		line-height 1.69
		color #C4C4C4
	
	&_bottom
		padding-top 24px
		padding-bottom 25px
		border-top 1px solid #7e7e7e
		text-align center