.OffersSection
	padding-top 1px
	padding-bottom 30px
	background $lightgrey
	
	@media $smPlus
		padding-bottom 50px
	
	@media $mdPlus
		padding-bottom 75px
	
	&_title
		width 14.5em
		margin -23px auto 20px
		background $green
		color $white
		font-weight 600
		font-size 20px
		line-height 2.25
		text-align center
		
		@media $smPlus
			width 14.67em
			margin-top -37px
			margin-bottom 40px
			font-size 30px
			line-height 2.834
		
		@media $lgPlus
			width 14.625em
			margin-top -45px
			margin-bottom 80px
			font-size 40px
			line-height 2.25
	
	&_slider
		margin-bottom 30px
		
		@media $smPlus
			margin-bottom 40px
		
		@media $mdPlus
			margin-bottom 79px
	
	&_btnWrapper
		text-align center