.PartnersSection
	padding-top 31px
	padding-bottom 50px
	
	@media $smPlus
		padding-top 41px
		padding-bottom 70px
	
	@media $mdPlus
		padding-top 50px
		padding-bottom 80px
	
	&_title
		margin-bottom 14px
		font-size 20px
		line-height 1.5
		
		@media $smPlus
			margin-bottom 20px
			font-size 26px
			line-height 1.46
		
		@media $mdPlus
			margin-bottom 50px
			font-size 30px
			line-height 1.27
	
	&_description
		margin-bottom 60px
		font-size 16px
		line-height 1.63
		
		@media $smPlus
			margin-bottom 40px
		
		@media $mdPlus
			margin-bottom 50px
	
	&_partner
		&:not(:last-child)
			margin-bottom 34px
			
			@media $smPlus
				margin-bottom 18px
			
			@media $mdPlus
				margin-bottom 32px