.SearchForm	
	&_label
		margin-bottom 3px
	
	&_item
		display flex
		align-items center
	
	&_text
		flex-grow 1
	
	&_btn
		display flex
		justify-content center
		align-items center
		flex-shrink 0
		width 50px
		height 50px
		border none
		outline none
		border-radius 2px
		background $green
		color $white