.Services
	background #EAEDF2
	
	@media $mdPlus
		background $white
	
	@media $mdPlus
		padding-bottom 100px
	
	&_accordionSection
		margin-bottom 80px
	
	&_note
		margin-bottom 29px
		font-weight 600
		line-height 1.63
	
	&_phone
		font-weight 600
		font-size 30px
		line-height 1.13