.Service
	&_posts
		padding-top 31px
		padding-bottom 40px
		
		@media $smPlus
			padding-bottom 80px
		
		@media $mdPlus
			padding-top 50px
			padding-bottom 84px
	
	&_post
		&:not(:last-child)
			margin-bottom 41px
			
			@media $smPlus
				margin-bottom 58px
			
			@media $mdPlus
				margin-bottom 46px
	
	&_phone
		margin-bottom 20px