.SiteInfo
	text-align center
	color $white
	
	&_title
		margin-bottom 36px
		font-weight 600
		font-size 20px
		line-height 1.5
		
		@media $smPlus
			margin-bottom 41px
			font-size 40px
			line-height 1.25
		
		@media $lgPlus
			margin-bottom 28px
			font-size 60px
			line-height 1.17
	
	&_text
		@media $smPlus
			margin-bottom 38px
			font-weight 600
			font-size 20px
			line-height 1.375