.InfoBlocksSection.InfoBlocksSection-advantages
	.Container
		h2.InfoBlocksSection_title Земельные активы от Land Management – это:
		.Swiper.swiper-container.Swiper-advantages
			.swiper-wrapper
				.Swiper_slide.swiper-slide
					.InfoBlock.InfoBlock-advantage.Swiper_infoBlock
						.InfoBlock_img
							img(src="img/advantages/advantage_5.jpg", alt="")
						.InfoBlock_title Быстрая окупаемость инвестиций
				.Swiper_slide.swiper-slide
					.InfoBlock.InfoBlock-advantage.Swiper_infoBlock
						.InfoBlock_img
							img(src="img/advantages/advantage_4.jpg", alt="")
						.InfoBlock_title Сотрудничество с надежным девелопером
				.Swiper_slide.swiper-slide
					.InfoBlock.InfoBlock-advantage.Swiper_infoBlock
						.InfoBlock_img
							img(src="img/advantages/advantage_1.jpg", alt="")
						.InfoBlock_title 100% прозрачность сделки
				.Swiper_slide.swiper-slide
					.InfoBlock.InfoBlock-advantage.Swiper_infoBlock
						.InfoBlock_img
							img(src="img/advantages/advantage_2.jpg", alt="")
						.InfoBlock_title Вложения в высоколиквидный актив
				.Swiper_slide.swiper-slide
					.InfoBlock.InfoBlock-advantage.Swiper_infoBlock
						.InfoBlock_img
							img(src="img/advantages/advantage_3.jpg", alt="")
						.InfoBlock_title Выгодные условия оплаты
			.Swiper_pagination.hidden-lgPlus
			button(type="button").SwiperArrow.Swiper_prev.hidden-lgPlus
				include ../svg/SvgIco/arrow_left
			button(type="button").SwiperArrow.Swiper_next.hidden-lgPlus
				include ../svg/SvgIco/arrow_right