footer.Footer
	.Container
		.Footer_top
			.MainMenu.MainMenu-footer.Footer_mainMenu.hidden-xs.hidden-lgPlus
				ul.MainMenu_menu
					li.MainMenu_item
						a(href="/about.html").MainMenu_link О компании
					li.MainMenu_item
						a(href="/objects.html").MainMenu_link Объекты
					li.MainMenu_item
						a(href="/projects.html").MainMenu_link Проекты
					li.MainMenu_item
						a(href="/services.html").MainMenu_link Услуги
			.Footer_col.Footer_col-first
				.FooterBlock.Footer_aboutCompany.hidden-mdMinus
					h2.FooterBlock_title О компании
					ul.FooterBlock_list
						li.FooterBlock_item
							a(href="/about.html").FooterBlock_link Клиенты
						li.FooterBlock_item
							a(href="/about.html").FooterBlock_link Партнеры
			.Footer_col.Footer_col-second.hidden-mdMinus
				.FooterBlock
					h2.FooterBlock_title Объекты
					ul.FooterBlock_list
						li.FooterBlock_item
							a(href="/objects.html").FooterBlock_link Все участки
						li.FooterBlock_item
							a(href="/object.html").FooterBlock_link Участки под торговые центры
						li.FooterBlock_item
							a(href="/object.html").FooterBlock_link Участки под жилищное строительство
						li.FooterBlock_item
							a(href="/object.html").FooterBlock_link Участки для с/х производства от 1 000 руб. за сотку!
						li.FooterBlock_item
							a(href="/object.html").FooterBlock_link Имущественные с/х комплексы
			.Footer_col.Footer_col-third.hidden-mdMinus
				.FooterBlock
					h2.FooterBlock_title Проекты
					ul.FooterBlock_list
						li.FooterBlock_item
							a(href="/project2.html").FooterBlock_link Жилой микрорайон «Сапроново». г. Видное
						li.FooterBlock_item
							a(href="/project.html").FooterBlock_link Продается действующий совхоз. 3 906 Га. Наро-Фоминский район.
						li.FooterBlock_item
							a(href="/project3.html").FooterBlock_link Земельные участки в г. Москва, Новомосковский АО, Рязановское поселение.
			.Footer_col.Footer_col-fourth.hidden-mdMinus
				.FooterBlock
					h2.FooterBlock_title Услуги
					ul.FooterBlock_list
						li.FooterBlock_item
							a(href="/services.html").FooterBlock_link Перечень услуг
						li.FooterBlock_item
							a(href="/service.html").FooterBlock_link Стратегический консалтинг
						li.FooterBlock_item
							a(href="/service2.html").FooterBlock_link Продвижение объектов
						li.FooterBlock_item
							a(href="/service3.html").FooterBlock_link Экспертная оценка земли
			.Footer_col.Footer_col-fifth
				.FooterBlock.FooterBlock-contacts.Footer_contacts
					h2.FooterBlock_title.hidden-sm.hidden-md Контакты
					ul.FooterBlock_list
						li.FooterBlock_item
							a(href="tel:+74959823839").FooterBlock_link +7 (495) 982 38 39
		.Footer_bottom
			.SocIcons.Footer_socIcons
				ul.SocIcons_list
					li.SocIcons_item
						a(href="http://facebook.com", target="_blank", title="Facebook").SocIcons_link
							include ../svg/SvgIco/social_icons/fb
					li.SocIcons_item
						a(href="http://vk.com", target="_blank", title="ВКонтакте").SocIcons_link
							include ../svg/SvgIco/social_icons/vk
					li.SocIcons_item
						a(href="http://instagram.com", target="_blank", title="Instagram").SocIcons_link
							include ../svg/SvgIco/social_icons/instagram
					li.SocIcons_item
						a(href="http://youtube.com", target="_blank", title="YouTube").SocIcons_link
							include ../svg/SvgIco/social_icons/youtube
			.Footer_copyright © Land Management 2018
			a(href="https://blue-ant.ru/", target="_blank", title="Компания \"Синий муравей\"").Footer_companyLogo
				include ../svg/SvgIco/blueant