header(style="background-image: url('img/header/" + headerBg +"')", class="Header " + headerClasses)
	.Container.Header_container
		.Header_top.hidden-mdMinus
			.Header_topLeft
				a(href="/", title="На главную").Logo.Header_logo
					img(src="img/logo.svg", alt="Логотип").Logo_img
					span.Logo_text.
						Land #[br]Management
			.Header_topRight
				include MainMenu
				a(href="tel:+74959823839", title="Позвонить").Phone.Header_phone
					include ../svg/SvgIco/phone
					span.Phone_number.hidden-mdMinus +7 (495) 982 38 39
				include MenuHamburger
		.Header_top.Header_top-sticky.hidden-lgPlus
			.Header_topLeft
				a(href="/", title="На главную").Logo.Header_logo
					img(src="img/logo.svg", alt="Логотип").Logo_img
					span.Logo_text.
						Land #[br]Management
			.Header_topRight
				include MainMenu
				a(href="tel:+74959823839", title="Позвонить").Phone.Header_phone
					include ../svg/SvgIco/phone
					span.Phone_number.hidden-mdMinus +7 (495) 982 38 39
				include MenuHamburger
		.Header_bottom
			.PageTitle #{title}