.MainMenu.MainMenu-header.Header_mainMenu.hidden-xs
	ul.MainMenu_menu
		li.MainMenu_item.hidden-sm.hidden-md
			a(href="/about.html").MainMenu_link О компании
		li.MainMenu_item.hidden-sm.hidden-md
			a(href="/objects.html").MainMenu_link Объекты
		li.MainMenu_item
			a(href="/projects.html").MainMenu_link Проекты
		li.MainMenu_item
			a(href="/services.html").MainMenu_link Услуги
			.DropDown.MainMenu_dropDown.hidden-mdMinus
				ul.DropDown_list
					li.DropDown_item
						a(href="/services.html").DropDown_link Перечень услуг
					li.DropDown_item
						a(href="/service.html").DropDown_link Стратегический консалтинг
					li.DropDown_item
						a(href="/service2.html").DropDown_link Продвижение объектов
					li.DropDown_item
						a(href="/service3.html").DropDown_link Экспертная оценка земли
		li.MainMenu_item.hidden-sm.hidden-md
			a(href="/contacts.html").MainMenu_link Контакты