.OffersSection
	.Container
		h2.OffersSection_title Выгодные предложения:
	.SwiperAll.SwiperAll-offerBlock
		.Swiper.swiper-container.Swiper-offerBlock.OffersSection_slider
			.Swiper_wrapper.swiper-wrapper
				.Swiper_slide.swiper-slide
					.OfferBlock.Swiper_offerBlock
						.OfferBlock_img
							.ProportionalImage.ProportionalImage-offerBlock(style="background-image: url('img/offer_1.jpg')")
						.OfferBlock_body
							h3.OfferBlock_title Участок для МЖС с разрешением на строительство
							.OfferBlock_description.
								Каширское шоссе, 10 км от МКАД. #[br]Горки Ленинские, ЖК «Южная Долина» #[br]35.7 га, ППТ, ГПЗУ, ТУ, РС #[br]118 500 кв.м. продаваемой площади квартир
						a(href="/project2.html").OfferBlock_price 900 млн рублей
				.Swiper_slide.swiper-slide
					.OfferBlock.Swiper_offerBlock
						.OfferBlock_img
							.ProportionalImage.ProportionalImage-offerBlock(style="background-image: url('img/offer_2.jpg')")
						.OfferBlock_body
							h3.OfferBlock_title Сапроново
							.OfferBlock_description.
								Трасса М4 «Дон», 8 км от МКАД #[br]Малоэтажное жилое строительство #[br]Продажа от 1,8 Га #[br]Утвержден ППТ, получен ГПЗУ
						a(href="/project.html").OfferBlock_price 69 млн рублей
				.Swiper_slide.swiper-slide
					.OfferBlock.Swiper_offerBlock
						.OfferBlock_img
							.ProportionalImage.ProportionalImage-offerBlock(style="background-image: url('img/offer_1.jpg')")
						.OfferBlock_body
							h3.OfferBlock_title Участок для МЖС с разрешением на строительство
							.OfferBlock_description.
								Каширское шоссе, 10 км от МКАД. #[br]Горки Ленинские, ЖК «Южная Долина» #[br]35.7 га, ППТ, ГПЗУ, ТУ, РС #[br]118 500 кв.м. продаваемой площади квартир
						a(href="/project2.html").OfferBlock_price 900 млн рублей
				.Swiper_slide.swiper-slide
					.OfferBlock.Swiper_offerBlock
						.OfferBlock_img
							.ProportionalImage.ProportionalImage-offerBlock(style="background-image: url('img/offer_2.jpg')")
						.OfferBlock_body
							h3.OfferBlock_title Сапроново
							.OfferBlock_description.
								Трасса М4 «Дон», 8 км от МКАД #[br]Малоэтажное жилое строительство #[br]Продажа от 1,8 Га #[br]Утвержден ППТ, получен ГПЗУ
						a(href="/project.html").OfferBlock_price 69 млн рублей
			.Swiper_pagination.Swiper_pagination-offerBlock
		button(type="button").SwiperArrow.SwiperAll_prev.hidden-mdMinus
			include ../svg/SvgIco/arrow_left
		button(type="button").SwiperArrow.SwiperAll_next.hidden-mdMinus
			include ../svg/SvgIco/arrow_right
	.OffersSection_btnWrapper
		a(href="/projects.html").BtnBlue.BtnBlue-offersSection Смотреть все предложения