#pagePreloader.Preloader
	.Preloader_caption
		.Preloader_cubeLoader
			.Preloader_cube.Preloader_cube-loader1
			.Preloader_cube.Preloader_cube-loader2
			.Preloader_cube.Preloader_cube-loader3
			.Preloader_cube.Preloader_cube-loader4