.SocIcons
	ul.SocIcons_list
		li.SocIcons_item
			a(href="http://facebook.com", target="_blank", title="Facebook").SocIcons_link
				include ../svg/SvgIco/social_icons/fb
		li.SocIcons_item
			a(href="http://vk.com", target="_blank", title="ВКонтакте").SocIcons_link
				include ../svg/SvgIco/social_icons/vk
		li.SocIcons_item
			a(href="http://instagram.com", target="_blank", title="Instagram").SocIcons_link
				include ../svg/SvgIco/social_icons/instagram
		li.SocIcons_item
			a(href="http://youtube.com", target="_blank", title="YouTube").SocIcons_link
				include ../svg/SvgIco/social_icons/youtube