.StatisticsSection
	.Container.StatisticsSection_container
		h2.StatisticsSection_title Land Management – это
		.StatisticsSection_items
			.StatisticsSection_item
				.StatisticsSection_number 10
				.StatisticsSection_label лет успешной работы
			.StatisticsSection_item
				.StatisticsSection_number 110
				.StatisticsSection_label реализованных участков
			.StatisticsSection_item
				.StatisticsSection_number 250
				.StatisticsSection_label клиентов