.WriteUs
	.Container.WriteUs_container
		.WriteUs_text
			h2.WriteUs_title Есть вопросы? #[br.hidden-smPlus]Обращайтесь!
			.WriteUs_description Наш менеджер свяжется #[br.hidden-smPlus]с вами в ближайшее время.
		a(href="javascript:;", data-fancybox, data-src="#SendMessage").BtnWhite.WriteUs_btn.PopupSendMessageLink Написать